{:type :invoke, :f :read, :value nil, :process 0, :time 125735222}
{:type :ok, :f :read, :value nil, :process 0, :time 218927867}
{:type :invoke, :f :read, :value nil, :process 4, :time 583351787}
{:type :ok, :f :read, :value nil, :process 4, :time 587916978}
{:type :invoke, :f :write, :value 1, :process 2, :time 796259779}
{:type :ok, :f :write, :value 1, :process 2, :time 806061394}
{:type :invoke, :f :write, :value 3, :process 3, :time 991976936}
{:type :ok, :f :write, :value 3, :process 3, :time 998064036}
{:type :invoke, :f :read, :value nil, :process 4, :time 1316396851}
{:type :ok, :f :read, :value "3", :process 4, :time 1320309492}
{:type :invoke, :f :read, :value nil, :process 1, :time 1330832997}
{:type :ok, :f :read, :value "3", :process 1, :time 1333976459}
{:type :invoke, :f :read, :value nil, :process 2, :time 1888548594}
{:type :ok, :f :read, :value "3", :process 2, :time 1892106894}
{:type :invoke, :f :read, :value nil, :process 0, :time 1953437966}
{:type :ok, :f :read, :value "3", :process 0, :time 1967353868}
{:type :invoke, :f :write, :value 2, :process 2, :time 2000584895}
{:type :ok, :f :write, :value 2, :process 2, :time 2006648957}
{:type :invoke, :f :read, :value nil, :process 4, :time 2440770114}
{:type :ok, :f :read, :value "2", :process 4, :time 2444534697}
{:type :invoke, :f :write, :value 0, :process 4, :time 2839999646}
{:type :ok, :f :write, :value 0, :process 4, :time 2846223183}
{:type :invoke, :f :write, :value 0, :process 2, :time 2947069959}
{:type :ok, :f :write, :value 0, :process 2, :time 2952475410}
{:type :invoke, :f :read, :value nil, :process 3, :time 2974613521}
{:type :ok, :f :read, :value "0", :process 3, :time 2977401741}
{:type :invoke, :f :read, :value nil, :process 1, :time 3169541423}
{:type :ok, :f :read, :value "0", :process 1, :time 3172955851}
{:type :invoke, :f :read, :value nil, :process 0, :time 3493845086}
{:type :ok, :f :read, :value "0", :process 0, :time 3497747274}
{:type :invoke, :f :write, :value 4, :process 0, :time 3511214635}
{:type :ok, :f :write, :value 4, :process 0, :time 3516580081}
{:type :invoke, :f :write, :value 1, :process 4, :time 3617725317}
{:type :ok, :f :write, :value 1, :process 4, :time 3623185331}
{:type :invoke, :f :write, :value 3, :process 0, :time 3828080532}
{:type :ok, :f :write, :value 3, :process 0, :time 3833180131}
{:type :invoke, :f :read, :value nil, :process 3, :time 4172836100}
{:type :ok, :f :read, :value "3", :process 3, :time 4175996140}
{:type :invoke, :f :read, :value nil, :process 1, :time 4217434424}
{:type :ok, :f :read, :value "3", :process 1, :time 4220098622}
{:type :invoke, :f :read, :value nil, :process 2, :time 4356962177}
{:type :ok, :f :read, :value "3", :process 2, :time 4360347112}
{:type :invoke, :f :read, :value nil, :process 0, :time 4484655639}
{:type :ok, :f :read, :value "3", :process 0, :time 4487998069}
{:type :invoke, :f :write, :value 1, :process 0, :time 4744587724}
{:type :ok, :f :write, :value 1, :process 0, :time 4750081007}
{:type :invoke, :f :write, :value 4, :process 2, :time 4944901137}
{:type :ok, :f :write, :value 4, :process 2, :time 4949962378}
{:type :invoke, :f :read, :value nil, :process 4, :time 5144640011}
{:type :ok, :f :read, :value "4", :process 4, :time 5147394613}
{:type :invoke, :f :write, :value 4, :process 0, :time 5569567116}
{:type :ok, :f :write, :value 4, :process 0, :time 5574877729}
{:type :invoke, :f :read, :value nil, :process 3, :time 5629443019}
{:type :ok, :f :read, :value "4", :process 3, :time 5632020390}
{:type :invoke, :f :write, :value 3, :process 3, :time 5684502090}
{:type :ok, :f :write, :value 3, :process 3, :time 5689275701}
{:type :invoke, :f :write, :value 3, :process 1, :time 5860513614}
{:type :ok, :f :write, :value 3, :process 1, :time 5867918887}
{:type :invoke, :f :write, :value 1, :process 4, :time 6248900642}
{:type :ok, :f :write, :value 1, :process 4, :time 6254767057}
{:type :invoke, :f :read, :value nil, :process 3, :time 6341728448}
{:type :ok, :f :read, :value "1", :process 3, :time 6344233024}
{:type :invoke, :f :write, :value 1, :process 2, :time 6456433187}
{:type :ok, :f :write, :value 1, :process 2, :time 6461583198}
{:type :invoke, :f :read, :value nil, :process 1, :time 6698415359}
{:type :ok, :f :read, :value "1", :process 1, :time 6701425353}
{:type :invoke, :f :read, :value nil, :process 0, :time 6804302705}
{:type :ok, :f :read, :value "1", :process 0, :time 6806770599}
{:type :invoke, :f :read, :value nil, :process 2, :time 6840076746}
{:type :ok, :f :read, :value "1", :process 2, :time 6842683326}
{:type :invoke, :f :read, :value nil, :process 3, :time 7130761489}
{:type :ok, :f :read, :value "1", :process 3, :time 7133415718}
{:type :invoke, :f :write, :value 4, :process 2, :time 7137104003}
{:type :ok, :f :write, :value 4, :process 2, :time 7142068965}
{:type :invoke, :f :write, :value 1, :process 1, :time 7523918891}
{:type :ok, :f :write, :value 1, :process 1, :time 7528837616}
{:type :invoke, :f :write, :value 1, :process 4, :time 7619170561}
{:type :ok, :f :write, :value 1, :process 4, :time 7624167725}
{:type :invoke, :f :read, :value nil, :process 3, :time 7860806477}
{:type :ok, :f :read, :value "1", :process 3, :time 7863950309}
{:type :invoke, :f :read, :value nil, :process 3, :time 7870415217}
{:type :ok, :f :read, :value "1", :process 3, :time 7872520143}
{:type :invoke, :f :read, :value nil, :process 0, :time 8176182645}
{:type :ok, :f :read, :value "1", :process 0, :time 8179263953}
{:type :invoke, :f :read, :value nil, :process 3, :time 8453875033}
{:type :ok, :f :read, :value "1", :process 3, :time 8457276234}
{:type :invoke, :f :write, :value 1, :process 2, :time 8977495770}
{:type :ok, :f :write, :value 1, :process 2, :time 8982962039}
{:type :invoke, :f :read, :value nil, :process 0, :time 9219682227}
{:type :ok, :f :read, :value "1", :process 0, :time 9222762902}
{:type :invoke, :f :write, :value 1, :process 4, :time 9476688106}
{:type :ok, :f :write, :value 1, :process 4, :time 9481799644}
{:type :invoke, :f :read, :value nil, :process 1, :time 9490298146}
{:type :ok, :f :read, :value "1", :process 1, :time 9493014004}
{:type :invoke, :f :read, :value nil, :process 2, :time 9600457887}
{:type :ok, :f :read, :value "1", :process 2, :time 9603078129}
{:type :invoke, :f :write, :value 3, :process 0, :time 9704165235}
{:type :ok, :f :write, :value 3, :process 0, :time 9708614112}
{:type :invoke, :f :write, :value 2, :process 3, :time 10110671721}
{:type :ok, :f :write, :value 2, :process 3, :time 10151090731}
{:type :invoke, :f :read, :value nil, :process 1, :time 10272475843}
{:type :ok, :f :read, :value "2", :process 1, :time 10275116935}
{:type :invoke, :f :write, :value 2, :process 2, :time 10423512958}
{:type :ok, :f :write, :value 2, :process 2, :time 10428495352}
{:type :invoke, :f :write, :value 4, :process 1, :time 11353707705}
{:type :ok, :f :write, :value 4, :process 1, :time 11358844079}
{:type :invoke, :f :read, :value nil, :process 4, :time 11363341046}
{:type :ok, :f :read, :value "4", :process 4, :time 11365571397}
{:type :invoke, :f :read, :value nil, :process 2, :time 11621921682}
{:type :ok, :f :read, :value "4", :process 2, :time 11624890553}
{:type :invoke, :f :write, :value 3, :process 0, :time 11679067018}
{:type :ok, :f :write, :value 3, :process 0, :time 11683112799}
{:type :invoke, :f :write, :value 0, :process 3, :time 11694511067}
{:type :ok, :f :write, :value 0, :process 3, :time 11698826250}
{:type :invoke, :f :read, :value nil, :process 0, :time 11770421276}
{:type :ok, :f :read, :value "0", :process 0, :time 11773168665}
{:type :invoke, :f :write, :value 4, :process 0, :time 11812558840}
{:type :ok, :f :write, :value 4, :process 0, :time 11819407750}
{:type :invoke, :f :write, :value 1, :process 1, :time 12491312442}
{:type :ok, :f :write, :value 1, :process 1, :time 12496831646}
{:type :invoke, :f :write, :value 3, :process 1, :time 12593230191}
{:type :ok, :f :write, :value 3, :process 1, :time 12600585726}
{:type :invoke, :f :read, :value nil, :process 4, :time 12756009593}
{:type :ok, :f :read, :value "3", :process 4, :time 12759110775}
{:type :invoke, :f :write, :value 3, :process 4, :time 12896511103}
{:type :ok, :f :write, :value 3, :process 4, :time 12903244100}
{:type :invoke, :f :write, :value 4, :process 3, :time 12935180022}
{:type :ok, :f :write, :value 4, :process 3, :time 12940785866}
{:type :invoke, :f :write, :value 4, :process 2, :time 12944257391}
{:type :ok, :f :write, :value 4, :process 2, :time 12950278578}
{:type :invoke, :f :read, :value nil, :process 1, :time 13046987124}
{:type :ok, :f :read, :value "4", :process 1, :time 13049941332}
{:type :invoke, :f :read, :value nil, :process 4, :time 13201792445}
{:type :ok, :f :read, :value "4", :process 4, :time 13204635830}
{:type :invoke, :f :read, :value nil, :process 0, :time 13602825461}
{:type :ok, :f :read, :value "4", :process 0, :time 13605607261}
{:type :invoke, :f :write, :value 4, :process 1, :time 13607419449}
{:type :ok, :f :write, :value 4, :process 1, :time 13611793652}
{:type :invoke, :f :read, :value nil, :process 4, :time 13810117202}
{:type :ok, :f :read, :value "4", :process 4, :time 13812691322}
{:type :invoke, :f :read, :value nil, :process 0, :time 14215983467}
{:type :ok, :f :read, :value "4", :process 0, :time 14218744176}
{:type :invoke, :f :read, :value nil, :process 1, :time 14381204243}
{:type :ok, :f :read, :value "4", :process 1, :time 14384246271}
{:type :invoke, :f :read, :value nil, :process 2, :time 14607641482}
{:type :ok, :f :read, :value "4", :process 2, :time 14610463032}
{:type :invoke, :f :write, :value 0, :process 3, :time 14858181927}
{:type :ok, :f :write, :value 0, :process 3, :time 14863782082}
{:type :invoke, :f :write, :value 1, :process 4, :time 14891053456}
{:type :ok, :f :write, :value 1, :process 4, :time 14895189133}
{:type :invoke, :f :read, :value nil, :process 0, :time 15424178377}
{:type :invoke, :f :read, :value nil, :process 2, :time 15426860577}
{:type :ok, :f :read, :value "1", :process 0, :time 15427536181}
{:type :ok, :f :read, :value "1", :process 2, :time 15429658241}
{:type :invoke, :f :read, :value nil, :process 1, :time 15757594034}
{:type :ok, :f :read, :value "1", :process 1, :time 15760856455}
{:type :invoke, :f :read, :value nil, :process 3, :time 16646167628}
{:type :ok, :f :read, :value "1", :process 3, :time 16648916695}
{:type :invoke, :f :read, :value nil, :process 4, :time 16849543131}
{:type :ok, :f :read, :value "1", :process 4, :time 16852685654}
