{:type :invoke, :f :read, :value nil, :process 0, :time 226506384}
{:type :ok, :f :read, :value nil, :process 0, :time 320064152}
{:type :invoke, :f :read, :value nil, :process 1, :time 329169016}
{:type :ok, :f :read, :value nil, :process 1, :time 333005391}
{:type :invoke, :f :read, :value nil, :process 4, :time 587437992}
{:type :ok, :f :read, :value nil, :process 4, :time 591905542}
{:type :invoke, :f :read, :value nil, :process 1, :time 1108399782}
{:type :ok, :f :read, :value nil, :process 1, :time 1112445804}
{:type :invoke, :f :read, :value nil, :process 0, :time 1120718473}
{:type :ok, :f :read, :value nil, :process 0, :time 1123805938}
{:type :invoke, :f :read, :value nil, :process 3, :time 1334162703}
{:type :ok, :f :read, :value nil, :process 3, :time 1338120262}
{:type :invoke, :f :read, :value nil, :process 2, :time 1585224143}
{:type :ok, :f :read, :value nil, :process 2, :time 1588554139}
{:type :invoke, :f :read, :value nil, :process 4, :time 2444370154}
{:type :ok, :f :read, :value nil, :process 4, :time 2448861799}
{:type :invoke, :f :read, :value nil, :process 3, :time 2688681712}
{:type :ok, :f :read, :value nil, :process 3, :time 2692203147}
{:type :invoke, :f :read, :value nil, :process 1, :time 2743852680}
{:type :ok, :f :read, :value nil, :process 1, :time 2757865906}
{:type :invoke, :f :read, :value nil, :process 0, :time 2964165157}
{:type :ok, :f :read, :value nil, :process 0, :time 2967731097}
{:type :invoke, :f :read, :value nil, :process 2, :time 3006936755}
{:type :ok, :f :read, :value nil, :process 2, :time 3010250057}
{:type :invoke, :f :read, :value nil, :process 2, :time 3170637849}
{:type :ok, :f :read, :value nil, :process 2, :time 3173958486}
{:type :invoke, :f :read, :value nil, :process 4, :time 3828244741}
{:type :ok, :f :read, :value nil, :process 4, :time 3832330534}
{:type :invoke, :f :read, :value nil, :process 0, :time 3856126785}
{:type :ok, :f :read, :value nil, :process 0, :time 3859608475}
{:type :invoke, :f :read, :value nil, :process 2, :time 4117308815}
{:type :ok, :f :read, :value nil, :process 2, :time 4121901581}
{:type :invoke, :f :read, :value nil, :process 3, :time 4197568404}
{:type :ok, :f :read, :value nil, :process 3, :time 4200985123}
{:type :invoke, :f :read, :value nil, :process 1, :time 4612291736}
{:type :ok, :f :read, :value nil, :process 1, :time 4616154551}
{:type :invoke, :f :read, :value nil, :process 0, :time 4759073312}
{:type :ok, :f :read, :value nil, :process 0, :time 4762022925}
{:type :invoke, :f :read, :value nil, :process 3, :time 4882412561}
{:type :ok, :f :read, :value nil, :process 3, :time 4885677494}
{:type :invoke, :f :read, :value nil, :process 2, :time 5413335173}
{:type :ok, :f :read, :value nil, :process 2, :time 5416537753}
{:type :invoke, :f :read, :value nil, :process 0, :time 5749437182}
{:type :invoke, :f :read, :value nil, :process 4, :time 5752797063}
{:type :ok, :f :read, :value nil, :process 0, :time 5753467840}
{:type :ok, :f :read, :value nil, :process 4, :time 5755749967}
{:type :invoke, :f :read, :value nil, :process 0, :time 6143905003}
{:type :ok, :f :read, :value nil, :process 0, :time 6147854049}
{:type :invoke, :f :read, :value nil, :process 1, :time 6499550506}
{:type :ok, :f :read, :value nil, :process 1, :time 6503054505}
{:type :invoke, :f :read, :value nil, :process 3, :time 6733175274}
{:type :ok, :f :read, :value nil, :process 3, :time 6737510847}
{:type :invoke, :f :read, :value nil, :process 4, :time 6908261954}
{:type :ok, :f :read, :value nil, :process 4, :time 6912208090}
{:type :invoke, :f :read, :value nil, :process 2, :time 7068957036}
{:type :ok, :f :read, :value nil, :process 2, :time 7072270050}
{:type :invoke, :f :read, :value nil, :process 0, :time 7427251010}
{:type :ok, :f :read, :value nil, :process 0, :time 7431110810}
{:type :invoke, :f :read, :value nil, :process 1, :time 7558436626}
{:type :ok, :f :read, :value nil, :process 1, :time 7561403354}
{:type :invoke, :f :read, :value nil, :process 3, :time 7730982092}
{:type :ok, :f :read, :value nil, :process 3, :time 7734522937}
{:type :invoke, :f :read, :value nil, :process 3, :time 7843928508}
{:type :ok, :f :read, :value nil, :process 3, :time 7847924608}
{:type :invoke, :f :read, :value nil, :process 2, :time 7879620817}
{:type :ok, :f :read, :value nil, :process 2, :time 7882102874}
{:type :invoke, :f :read, :value nil, :process 4, :time 8075678830}
{:type :ok, :f :read, :value nil, :process 4, :time 8079369894}
{:type :invoke, :f :read, :value nil, :process 2, :time 8586450056}
{:type :ok, :f :read, :value nil, :process 2, :time 8590366942}
{:type :invoke, :f :read, :value nil, :process 4, :time 8595746561}
{:type :ok, :f :read, :value nil, :process 4, :time 8598230083}
{:type :invoke, :f :read, :value nil, :process 0, :time 9128595924}
{:type :ok, :f :read, :value nil, :process 0, :time 9132310973}
{:type :invoke, :f :read, :value nil, :process 3, :time 9527330156}
{:type :ok, :f :read, :value nil, :process 3, :time 9530743733}
{:type :invoke, :f :read, :value nil, :process 1, :time 9543745421}
{:type :ok, :f :read, :value nil, :process 1, :time 9546391895}
{:type :invoke, :f :read, :value nil, :process 2, :time 9823747086}
{:type :ok, :f :read, :value nil, :process 2, :time 9827592186}
{:type :invoke, :f :read, :value nil, :process 3, :time 10025221634}
{:type :ok, :f :read, :value nil, :process 3, :time 10028752279}
{:type :invoke, :f :read, :value nil, :process 4, :time 10328572898}
{:type :ok, :f :read, :value nil, :process 4, :time 10331841509}
{:type :invoke, :f :read, :value nil, :process 3, :time 10578210839}
{:type :ok, :f :read, :value nil, :process 3, :time 10582370444}
{:type :invoke, :f :read, :value nil, :process 0, :time 10908823058}
{:type :ok, :f :read, :value nil, :process 0, :time 10912343638}
{:type :invoke, :f :read, :value nil, :process 0, :time 11151721357}
{:type :ok, :f :read, :value nil, :process 0, :time 11155085908}
{:type :invoke, :f :read, :value nil, :process 1, :time 11188716563}
{:type :ok, :f :read, :value nil, :process 1, :time 11191676574}
{:type :invoke, :f :read, :value nil, :process 1, :time 11199076133}
{:type :ok, :f :read, :value nil, :process 1, :time 11202125803}
{:type :invoke, :f :read, :value nil, :process 2, :time 11401954583}
{:type :ok, :f :read, :value nil, :process 2, :time 11406150068}
{:type :invoke, :f :read, :value nil, :process 3, :time 11741812764}
{:type :ok, :f :read, :value nil, :process 3, :time 11745361645}
{:type :invoke, :f :read, :value nil, :process 4, :time 11875190565}
{:type :ok, :f :read, :value nil, :process 4, :time 11878050784}
{:type :invoke, :f :read, :value nil, :process 0, :time 12162449038}
{:type :ok, :f :read, :value nil, :process 0, :time 12165759334}
{:type :invoke, :f :read, :value nil, :process 3, :time 12169788318}
{:type :ok, :f :read, :value nil, :process 3, :time 12173026599}
{:type :invoke, :f :read, :value nil, :process 1, :time 12452569186}
{:type :ok, :f :read, :value nil, :process 1, :time 12455672575}
{:type :invoke, :f :read, :value nil, :process 2, :time 12502680892}
{:type :ok, :f :read, :value nil, :process 2, :time 12505058584}
{:type :invoke, :f :read, :value nil, :process 3, :time 12690438491}
{:type :ok, :f :read, :value nil, :process 3, :time 12693676474}
{:type :invoke, :f :read, :value nil, :process 3, :time 12750180540}
{:type :ok, :f :read, :value nil, :process 3, :time 12753185054}
{:type :invoke, :f :read, :value nil, :process 2, :time 12776389343}
{:type :ok, :f :read, :value nil, :process 2, :time 12778921766}
{:type :invoke, :f :read, :value nil, :process 1, :time 13280041586}
{:type :ok, :f :read, :value nil, :process 1, :time 13283402697}
{:type :invoke, :f :read, :value nil, :process 2, :time 13364345991}
{:type :ok, :f :read, :value nil, :process 2, :time 13367710970}
{:type :invoke, :f :read, :value nil, :process 1, :time 13399748989}
{:type :ok, :f :read, :value nil, :process 1, :time 13403374742}
{:type :invoke, :f :read, :value nil, :process 1, :time 13449712421}
{:type :ok, :f :read, :value nil, :process 1, :time 13453161603}
{:type :invoke, :f :read, :value nil, :process 4, :time 13760421676}
{:type :ok, :f :read, :value nil, :process 4, :time 13764010605}
{:type :invoke, :f :read, :value nil, :process 1, :time 13913509035}
{:type :ok, :f :read, :value nil, :process 1, :time 13915963915}
{:type :invoke, :f :read, :value nil, :process 0, :time 13935204565}
{:type :ok, :f :read, :value nil, :process 0, :time 13938566217}
{:type :invoke, :f :read, :value nil, :process 1, :time 14279266436}
{:type :ok, :f :read, :value nil, :process 1, :time 14281901188}
{:type :invoke, :f :read, :value nil, :process 1, :time 14345203446}
{:type :ok, :f :read, :value nil, :process 1, :time 14347554392}
{:type :invoke, :f :read, :value nil, :process 4, :time 14494338980}
{:type :ok, :f :read, :value nil, :process 4, :time 14497203242}
{:type :invoke, :f :read, :value nil, :process 3, :time 14603553270}
{:type :ok, :f :read, :value nil, :process 3, :time 14606139429}
{:type :invoke, :f :read, :value nil, :process 2, :time 15210117698}
{:type :ok, :f :read, :value nil, :process 2, :time 15213258481}
{:type :invoke, :f :read, :value nil, :process 0, :time 15466968613}
{:type :ok, :f :read, :value nil, :process 0, :time 15470674805}
{:type :invoke, :f :read, :value nil, :process 4, :time 15579552037}
{:type :ok, :f :read, :value nil, :process 4, :time 15583290358}
{:type :invoke, :f :read, :value nil, :process 1, :time 16295899974}
{:type :ok, :f :read, :value nil, :process 1, :time 16300179556}
{:type :invoke, :f :read, :value nil, :process 3, :time 16356441894}
{:type :ok, :f :read, :value nil, :process 3, :time 16360127128}
