{:type :invoke, :f :read, :value nil, :process 1, :time 68638721}
{:type :ok, :f :read, :value nil, :process 1, :time 163232720}
{:type :invoke, :f :read, :value nil, :process 1, :time 359902564}
{:type :ok, :f :read, :value nil, :process 1, :time 364239176}
{:type :invoke, :f :read, :value nil, :process 3, :time 810774484}
{:type :ok, :f :read, :value nil, :process 3, :time 816005686}
{:type :invoke, :f :read, :value nil, :process 0, :time 988292337}
{:type :ok, :f :read, :value nil, :process 0, :time 1001748908}
{:type :invoke, :f :read, :value nil, :process 1, :time 1162686845}
{:type :ok, :f :read, :value nil, :process 1, :time 1166725252}
{:type :invoke, :f :read, :value nil, :process 0, :time 1406334325}
{:type :ok, :f :read, :value nil, :process 0, :time 1411180343}
{:type :invoke, :f :read, :value nil, :process 2, :time 1545902982}
{:type :ok, :f :read, :value nil, :process 2, :time 1550124618}
{:type :invoke, :f :read, :value nil, :process 1, :time 1562114945}
{:type :ok, :f :read, :value nil, :process 1, :time 1565851421}
{:type :invoke, :f :read, :value nil, :process 4, :time 1614636323}
{:type :ok, :f :read, :value nil, :process 4, :time 1618341920}
{:type :invoke, :f :read, :value nil, :process 0, :time 2399723323}
{:type :ok, :f :read, :value nil, :process 0, :time 2404081150}
{:type :invoke, :f :read, :value nil, :process 2, :time 2464544099}
{:type :ok, :f :read, :value nil, :process 2, :time 2468473818}
{:type :invoke, :f :read, :value nil, :process 1, :time 2542223504}
{:type :ok, :f :read, :value nil, :process 1, :time 2545958092}
{:type :invoke, :f :read, :value nil, :process 3, :time 2815511542}
{:type :ok, :f :read, :value nil, :process 3, :time 2819716557}
{:type :invoke, :f :read, :value nil, :process 4, :time 3162741879}
{:type :ok, :f :read, :value nil, :process 4, :time 3167431147}
{:type :invoke, :f :read, :value nil, :process 1, :time 3513403505}
{:type :ok, :f :read, :value nil, :process 1, :time 3518001663}
{:type :invoke, :f :read, :value nil, :process 2, :time 3931924103}
{:type :ok, :f :read, :value nil, :process 2, :time 3937240863}
{:type :invoke, :f :read, :value nil, :process 0, :time 4074477890}
{:type :ok, :f :read, :value nil, :process 0, :time 4078583662}
{:type :invoke, :f :read, :value nil, :process 0, :time 4080991284}
{:type :ok, :f :read, :value nil, :process 0, :time 4084273975}
{:type :invoke, :f :read, :value nil, :process 4, :time 4416923443}
{:type :ok, :f :read, :value nil, :process 4, :time 4420879341}
{:type :invoke, :f :read, :value nil, :process 1, :time 4582622334}
{:type :ok, :f :read, :value nil, :process 1, :time 4586087487}
{:type :invoke, :f :read, :value nil, :process 4, :time 4630245008}
{:type :ok, :f :read, :value nil, :process 4, :time 4632819418}
{:type :invoke, :f :read, :value nil, :process 3, :time 4693096548}
{:type :ok, :f :read, :value nil, :process 3, :time 4696090192}
{:type :invoke, :f :read, :value nil, :process 0, :time 5037649892}
{:type :ok, :f :read, :value nil, :process 0, :time 5041393961}
{:type :invoke, :f :read, :value nil, :process 2, :time 5442624376}
{:type :ok, :f :read, :value nil, :process 2, :time 5446389185}
{:type :invoke, :f :read, :value nil, :process 4, :time 5511254179}
{:type :ok, :f :read, :value nil, :process 4, :time 5514170883}
{:type :invoke, :f :read, :value nil, :process 1, :time 5960593107}
{:type :ok, :f :read, :value nil, :process 1, :time 5964467406}
{:type :invoke, :f :read, :value nil, :process 4, :time 6058523830}
{:type :ok, :f :read, :value nil, :process 4, :time 6061804356}
{:type :invoke, :f :read, :value nil, :process 2, :time 6186950157}
{:type :ok, :f :read, :value nil, :process 2, :time 6189811560}
{:type :invoke, :f :read, :value nil, :process 0, :time 6223843364}
{:type :ok, :f :read, :value nil, :process 0, :time 6226723489}
{:type :invoke, :f :read, :value nil, :process 2, :time 6470166171}
{:type :ok, :f :read, :value nil, :process 2, :time 6473659840}
{:type :invoke, :f :read, :value nil, :process 3, :time 6512447611}
{:type :ok, :f :read, :value nil, :process 3, :time 6514978335}
{:type :invoke, :f :read, :value nil, :process 3, :time 6749358388}
{:type :ok, :f :read, :value nil, :process 3, :time 6752643350}
{:type :invoke, :f :read, :value nil, :process 1, :time 6815989790}
{:type :ok, :f :read, :value nil, :process 1, :time 6818650097}
{:type :invoke, :f :read, :value nil, :process 2, :time 6834055263}
{:type :ok, :f :read, :value nil, :process 2, :time 6836831717}
{:type :invoke, :f :read, :value nil, :process 4, :time 7029213409}
{:type :ok, :f :read, :value nil, :process 4, :time 7032501009}
{:type :invoke, :f :read, :value nil, :process 0, :time 7062094735}
{:type :ok, :f :read, :value nil, :process 0, :time 7064538487}
{:type :invoke, :f :read, :value nil, :process 0, :time 7415901744}
{:type :ok, :f :read, :value nil, :process 0, :time 7419694552}
{:type :invoke, :f :read, :value nil, :process 4, :time 7552850892}
{:type :ok, :f :read, :value nil, :process 4, :time 7555826647}
{:type :invoke, :f :read, :value nil, :process 2, :time 7606151912}
{:type :ok, :f :read, :value nil, :process 2, :time 7608839617}
{:type :invoke, :f :read, :value nil, :process 1, :time 7649987948}
{:type :ok, :f :read, :value nil, :process 1, :time 7652976336}
{:type :invoke, :f :read, :value nil, :process 2, :time 8114190529}
{:type :ok, :f :read, :value nil, :process 2, :time 8117195625}
{:type :invoke, :f :read, :value nil, :process 3, :time 8276073283}
{:type :ok, :f :read, :value nil, :process 3, :time 8278770823}
{:type :invoke, :f :read, :value nil, :process 1, :time 8509324027}
{:type :ok, :f :read, :value nil, :process 1, :time 8513375425}
{:type :invoke, :f :read, :value nil, :process 0, :time 8527099554}
{:type :ok, :f :read, :value nil, :process 0, :time 8529654393}
{:type :invoke, :f :read, :value nil, :process 4, :time 9356279749}
{:type :ok, :f :read, :value nil, :process 4, :time 9359652349}
{:type :invoke, :f :read, :value nil, :process 3, :time 9593122996}
{:type :invoke, :f :read, :value nil, :process 0, :time 9595989974}
{:type :ok, :f :read, :value nil, :process 3, :time 9596927866}
{:type :ok, :f :read, :value nil, :process 0, :time 9601207933}
{:type :invoke, :f :read, :value nil, :process 2, :time 9799577006}
{:type :ok, :f :read, :value nil, :process 2, :time 9803191672}
{:type :invoke, :f :read, :value nil, :process 1, :time 10139788089}
{:type :ok, :f :read, :value nil, :process 1, :time 10143262050}
{:type :invoke, :f :read, :value nil, :process 4, :time 10249009628}
{:type :ok, :f :read, :value nil, :process 4, :time 10252307930}
{:type :invoke, :f :read, :value nil, :process 1, :time 10525749668}
{:type :ok, :f :read, :value nil, :process 1, :time 10528927737}
{:type :invoke, :f :read, :value nil, :process 0, :time 10776699653}
{:type :ok, :f :read, :value nil, :process 0, :time 10780178480}
{:type :invoke, :f :read, :value nil, :process 4, :time 11027664093}
{:type :ok, :f :read, :value nil, :process 4, :time 11031181812}
{:type :invoke, :f :read, :value nil, :process 2, :time 11176676090}
{:type :ok, :f :read, :value nil, :process 2, :time 11179530646}
{:type :invoke, :f :read, :value nil, :process 3, :time 11357369440}
{:type :ok, :f :read, :value nil, :process 3, :time 11360737622}
{:type :invoke, :f :read, :value nil, :process 0, :time 11742615161}
{:type :ok, :f :read, :value nil, :process 0, :time 11746067079}
{:type :invoke, :f :read, :value nil, :process 4, :time 11997587436}
{:type :ok, :f :read, :value nil, :process 4, :time 12000698189}
{:type :invoke, :f :read, :value nil, :process 1, :time 12050408502}
{:type :ok, :f :read, :value nil, :process 1, :time 12053246242}
{:type :invoke, :f :read, :value nil, :process 2, :time 12386868775}
{:type :ok, :f :read, :value nil, :process 2, :time 12390112168}
{:type :invoke, :f :read, :value nil, :process 3, :time 12443232676}
{:type :ok, :f :read, :value nil, :process 3, :time 12445910472}
{:type :invoke, :f :read, :value nil, :process 1, :time 12655639018}
{:type :ok, :f :read, :value nil, :process 1, :time 12659093725}
{:type :invoke, :f :read, :value nil, :process 2, :time 12723431311}
{:type :ok, :f :read, :value nil, :process 2, :time 12726423859}
{:type :invoke, :f :read, :value nil, :process 0, :time 12755451498}
{:type :ok, :f :read, :value nil, :process 0, :time 12758090513}
{:type :invoke, :f :read, :value nil, :process 0, :time 12990399293}
{:type :ok, :f :read, :value nil, :process 0, :time 12994676618}
{:type :invoke, :f :read, :value nil, :process 4, :time 13005018172}
{:type :ok, :f :read, :value nil, :process 4, :time 13007476265}
{:type :invoke, :f :read, :value nil, :process 4, :time 13471813891}
{:type :ok, :f :read, :value nil, :process 4, :time 13475149948}
{:type :invoke, :f :read, :value nil, :process 2, :time 13737823619}
{:type :ok, :f :read, :value nil, :process 2, :time 13740908145}
{:type :invoke, :f :read, :value nil, :process 4, :time 14352477071}
{:type :ok, :f :read, :value nil, :process 4, :time 14355704918}
{:type :invoke, :f :read, :value nil, :process 3, :time 14392208102}
{:type :ok, :f :read, :value nil, :process 3, :time 14394523055}
{:type :invoke, :f :read, :value nil, :process 1, :time 14449411751}
{:type :ok, :f :read, :value nil, :process 1, :time 14451751377}
{:type :invoke, :f :read, :value nil, :process 0, :time 14740040157}
{:type :ok, :f :read, :value nil, :process 0, :time 14742528336}
{:type :invoke, :f :read, :value nil, :process 0, :time 14876818850}
{:type :ok, :f :read, :value nil, :process 0, :time 14879142980}
{:type :invoke, :f :read, :value nil, :process 2, :time 14952333019}
{:type :ok, :f :read, :value nil, :process 2, :time 14955239212}
{:type :invoke, :f :read, :value nil, :process 4, :time 15166022801}
{:type :ok, :f :read, :value nil, :process 4, :time 15169025881}
{:type :invoke, :f :read, :value nil, :process 3, :time 15192813904}
{:type :ok, :f :read, :value nil, :process 3, :time 15195303654}
{:type :invoke, :f :read, :value nil, :process 0, :time 15691579898}
{:type :ok, :f :read, :value nil, :process 0, :time 15694736549}
{:type :invoke, :f :read, :value nil, :process 1, :time 16164069343}
{:type :ok, :f :read, :value nil, :process 1, :time 16168015657}
{:type :invoke, :f :read, :value nil, :process 2, :time 16438570242}
{:type :ok, :f :read, :value nil, :process 2, :time 16442546560}
