{:type :invoke, :f :write, :value 4, :process 2, :time 87257313}
{:type :ok, :f :write, :value 4, :process 2, :time 175398410}
{:type :invoke, :f :write, :value 0, :process 4, :time 310077399}
{:type :ok, :f :write, :value 0, :process 4, :time 317278189}
{:type :invoke, :f :write, :value 2, :process 4, :time 338767147}
{:type :ok, :f :write, :value 2, :process 4, :time 355975003}
{:type :invoke, :f :write, :value 4, :process 3, :time 491838117}
{:type :ok, :f :write, :value 4, :process 3, :time 498153779}
{:type :invoke, :f :write, :value 2, :process 3, :time 829630560}
{:type :ok, :f :write, :value 2, :process 3, :time 835291336}
{:type :invoke, :f :read, :value nil, :process 2, :time 865341506}
{:type :ok, :f :read, :value "2", :process 2, :time 869951976}
{:type :invoke, :f :write, :value 2, :process 3, :time 986753264}
{:type :ok, :f :write, :value 2, :process 3, :time 999003123}
{:type :invoke, :f :read, :value nil, :process 4, :time 1023456400}
{:type :ok, :f :read, :value "2", :process 4, :time 1026796429}
{:type :invoke, :f :read, :value nil, :process 0, :time 1046911884}
{:type :ok, :f :read, :value "2", :process 0, :time 1049710840}
{:type :invoke, :f :read, :value nil, :process 1, :time 1384853069}
{:type :ok, :f :read, :value "2", :process 1, :time 1388333419}
{:type :invoke, :f :write, :value 1, :process 1, :time 1549821519}
{:type :ok, :f :write, :value 1, :process 1, :time 1555270049}
{:type :invoke, :f :read, :value nil, :process 4, :time 1790335926}
{:type :ok, :f :read, :value "1", :process 4, :time 1793703586}
{:type :invoke, :f :read, :value nil, :process 1, :time 1888691331}
{:type :ok, :f :read, :value "1", :process 1, :time 1891675029}
{:type :invoke, :f :write, :value 1, :process 2, :time 2144517903}
{:type :ok, :f :write, :value 1, :process 2, :time 2149837265}
{:type :invoke, :f :write, :value 4, :process 4, :time 2256178381}
{:type :invoke, :f :write, :value 3, :process 3, :time 2260438456}
{:type :ok, :f :write, :value 4, :process 4, :time 2262938610}
{:type :ok, :f :write, :value 3, :process 3, :time 2267177405}
{:type :invoke, :f :write, :value 2, :process 1, :time 2733149167}
{:type :ok, :f :write, :value 2, :process 1, :time 2738802477}
{:type :invoke, :f :read, :value nil, :process 0, :time 2744208861}
{:type :ok, :f :read, :value "2", :process 0, :time 2747173789}
{:type :invoke, :f :write, :value 3, :process 2, :time 3146286059}
{:type :ok, :f :write, :value 3, :process 2, :time 3151987785}
{:type :invoke, :f :write, :value 4, :process 0, :time 3289652514}
{:type :ok, :f :write, :value 4, :process 0, :time 3296650818}
{:type :invoke, :f :write, :value 3, :process 4, :time 3639427160}
{:type :ok, :f :write, :value 3, :process 4, :time 3644495188}
{:type :invoke, :f :read, :value nil, :process 3, :time 3825609614}
{:type :ok, :f :read, :value "3", :process 3, :time 3828840319}
{:type :invoke, :f :write, :value 1, :process 1, :time 3852206350}
{:type :ok, :f :write, :value 1, :process 1, :time 3857737232}
{:type :invoke, :f :read, :value nil, :process 3, :time 3888312935}
{:type :ok, :f :read, :value "1", :process 3, :time 3890808703}
{:type :invoke, :f :read, :value nil, :process 4, :time 4782003501}
{:type :ok, :f :read, :value "1", :process 4, :time 4785152621}
{:type :invoke, :f :write, :value 3, :process 2, :time 4825430120}
{:type :ok, :f :write, :value 3, :process 2, :time 4830603999}
{:type :invoke, :f :read, :value nil, :process 2, :time 5003125885}
{:type :ok, :f :read, :value "3", :process 2, :time 5006866737}
{:type :invoke, :f :write, :value 2, :process 0, :time 5072105626}
{:type :ok, :f :write, :value 2, :process 0, :time 5078132694}
{:type :invoke, :f :read, :value nil, :process 3, :time 5320262561}
{:type :ok, :f :read, :value "2", :process 3, :time 5323515835}
{:type :invoke, :f :read, :value nil, :process 1, :time 5664224122}
{:type :ok, :f :read, :value "2", :process 1, :time 5666992638}
{:type :invoke, :f :read, :value nil, :process 1, :time 5809531810}
{:type :ok, :f :read, :value "2", :process 1, :time 5811971677}
{:type :invoke, :f :read, :value nil, :process 4, :time 5821585305}
{:type :ok, :f :read, :value "2", :process 4, :time 5824194495}
{:type :invoke, :f :write, :value 1, :process 2, :time 5951329104}
{:type :ok, :f :write, :value 1, :process 2, :time 5955791268}
{:type :invoke, :f :write, :value 4, :process 1, :time 6339461045}
{:type :ok, :f :write, :value 4, :process 1, :time 6345093872}
{:type :invoke, :f :read, :value nil, :process 3, :time 6612043773}
{:type :ok, :f :read, :value "4", :process 3, :time 6615418284}
{:type :invoke, :f :read, :value nil, :process 2, :time 6634265740}
{:type :ok, :f :read, :value "4", :process 2, :time 6636997384}
{:type :invoke, :f :write, :value 4, :process 2, :time 6753531097}
{:type :ok, :f :write, :value 4, :process 2, :time 6758862354}
{:type :invoke, :f :write, :value 4, :process 0, :time 6894539515}
{:type :ok, :f :write, :value 4, :process 0, :time 6899345396}
{:type :invoke, :f :write, :value 3, :process 2, :time 7394399555}
{:type :ok, :f :write, :value 3, :process 2, :time 7402269016}
{:type :invoke, :f :read, :value nil, :process 4, :time 7756716623}
{:type :invoke, :f :write, :value 4, :process 2, :time 7756720092}
{:type :ok, :f :read, :value "3", :process 4, :time 7760448442}
{:type :ok, :f :write, :value 4, :process 2, :time 7766856982}
{:type :invoke, :f :write, :value 4, :process 1, :time 7859477913}
{:type :ok, :f :write, :value 4, :process 1, :time 7865700569}
{:type :invoke, :f :write, :value 1, :process 0, :time 7990798157}
{:type :ok, :f :write, :value 1, :process 0, :time 7995953286}
{:type :invoke, :f :read, :value nil, :process 3, :time 8066818517}
{:type :ok, :f :read, :value "1", :process 3, :time 8069749348}
{:type :invoke, :f :write, :value 2, :process 3, :time 8450282479}
{:type :ok, :f :write, :value 2, :process 3, :time 8455768187}
{:type :invoke, :f :read, :value nil, :process 1, :time 8794176244}
{:type :ok, :f :read, :value "2", :process 1, :time 8797192978}
{:type :invoke, :f :write, :value 1, :process 0, :time 8942453201}
{:type :ok, :f :write, :value 1, :process 0, :time 8949157867}
{:type :invoke, :f :read, :value nil, :process 4, :time 9011937104}
{:type :ok, :f :read, :value "1", :process 4, :time 9014932674}
{:type :invoke, :f :write, :value 0, :process 4, :time 9435511733}
{:type :ok, :f :write, :value 0, :process 4, :time 9440810215}
{:type :invoke, :f :write, :value 2, :process 2, :time 9583235004}
{:type :ok, :f :write, :value 2, :process 2, :time 9588076008}
{:type :invoke, :f :read, :value nil, :process 2, :time 9817476953}
{:type :ok, :f :read, :value "2", :process 2, :time 9820147543}
{:type :invoke, :f :read, :value nil, :process 0, :time 9998759107}
{:type :ok, :f :read, :value "2", :process 0, :time 10001802184}
{:type :invoke, :f :write, :value 0, :process 1, :time 10250703375}
{:type :ok, :f :write, :value 0, :process 1, :time 10255582282}
{:type :invoke, :f :write, :value 2, :process 3, :time 10305176879}
{:type :ok, :f :write, :value 2, :process 3, :time 10309481838}
{:type :invoke, :f :read, :value nil, :process 4, :time 11115213616}
{:type :ok, :f :read, :value "2", :process 4, :time 11118565944}
{:type :invoke, :f :write, :value 1, :process 1, :time 11244976595}
{:type :ok, :f :write, :value 1, :process 1, :time 11249933375}
{:type :invoke, :f :read, :value nil, :process 2, :time 11450572662}
{:type :ok, :f :read, :value "1", :process 2, :time 11453568022}
{:type :invoke, :f :read, :value nil, :process 3, :time 11545829274}
{:type :ok, :f :read, :value "1", :process 3, :time 11548474580}
{:type :invoke, :f :write, :value 2, :process 4, :time 11716054400}
{:type :ok, :f :write, :value 2, :process 4, :time 11720721773}
{:type :invoke, :f :read, :value nil, :process 0, :time 11749184511}
{:type :ok, :f :read, :value "2", :process 0, :time 11751849628}
{:type :invoke, :f :write, :value 2, :process 3, :time 11891946524}
{:type :ok, :f :write, :value 2, :process 3, :time 11932576066}
{:type :invoke, :f :read, :value nil, :process 0, :time 11939255921}
{:type :ok, :f :read, :value "2", :process 0, :time 11941446396}
{:type :invoke, :f :write, :value 1, :process 3, :time 11979950105}
{:type :ok, :f :write, :value 1, :process 3, :time 11984690030}
{:type :invoke, :f :write, :value 4, :process 2, :time 12065028023}
{:type :ok, :f :write, :value 4, :process 2, :time 12070026966}
{:type :invoke, :f :read, :value nil, :process 0, :time 12356776447}
{:type :ok, :f :read, :value "4", :process 0, :time 12359964942}
{:type :invoke, :f :read, :value nil, :process 0, :time 12725352771}
{:type :ok, :f :read, :value "4", :process 0, :time 12728331856}
{:type :invoke, :f :read, :value nil, :process 1, :time 12773285183}
{:type :ok, :f :read, :value "4", :process 1, :time 12775578226}
{:type :invoke, :f :write, :value 1, :process 1, :time 13239967487}
{:type :ok, :f :write, :value 1, :process 1, :time 13244624674}
{:type :invoke, :f :write, :value 4, :process 0, :time 13293674268}
{:type :ok, :f :write, :value 4, :process 0, :time 13297978294}
{:type :invoke, :f :write, :value 3, :process 4, :time 13330175033}
{:type :ok, :f :write, :value 3, :process 4, :time 13333748361}
{:type :invoke, :f :read, :value nil, :process 2, :time 13665478401}
{:type :ok, :f :read, :value "3", :process 2, :time 13668050304}
{:type :invoke, :f :read, :value nil, :process 1, :time 13726942566}
{:type :ok, :f :read, :value "3", :process 1, :time 13728992684}
{:type :invoke, :f :write, :value 2, :process 1, :time 13737164065}
{:type :ok, :f :write, :value 2, :process 1, :time 13741368699}
{:type :invoke, :f :read, :value nil, :process 3, :time 13952126948}
{:type :ok, :f :read, :value "2", :process 3, :time 13954455179}
{:type :invoke, :f :read, :value nil, :process 1, :time 14011701169}
{:type :ok, :f :read, :value "2", :process 1, :time 14013866701}
{:type :invoke, :f :write, :value 4, :process 1, :time 14066202514}
{:type :ok, :f :write, :value 4, :process 1, :time 14070376079}
{:type :invoke, :f :read, :value nil, :process 3, :time 14119811513}
{:type :ok, :f :read, :value "4", :process 3, :time 14122149746}
{:type :invoke, :f :read, :value nil, :process 0, :time 14279330125}
{:type :ok, :f :read, :value "4", :process 0, :time 14281963829}
{:type :invoke, :f :write, :value 2, :process 1, :time 14395714276}
{:type :ok, :f :write, :value 2, :process 1, :time 14400083406}
{:type :invoke, :f :read, :value nil, :process 2, :time 14872417909}
{:type :ok, :f :read, :value "2", :process 2, :time 14875837420}
{:type :invoke, :f :write, :value 2, :process 4, :time 14896113313}
{:type :ok, :f :write, :value 2, :process 4, :time 14900379327}
{:type :invoke, :f :read, :value nil, :process 3, :time 14987503748}
{:type :ok, :f :read, :value "2", :process 3, :time 14989846620}
{:type :invoke, :f :write, :value 2, :process 2, :time 15182336171}
{:type :ok, :f :write, :value 2, :process 2, :time 15189518108}
{:type :invoke, :f :read, :value nil, :process 4, :time 15230759355}
{:type :ok, :f :read, :value "2", :process 4, :time 15233322039}
{:type :invoke, :f :read, :value nil, :process 0, :time 15686303117}
{:type :ok, :f :read, :value "2", :process 0, :time 15689174223}
{:type :invoke, :f :write, :value 1, :process 1, :time 16112562893}
{:type :ok, :f :write, :value 1, :process 1, :time 16117816329}
{:type :invoke, :f :write, :value 1, :process 3, :time 16208176513}
{:type :ok, :f :write, :value 1, :process 3, :time 16213431303}
