{:type :invoke, :f :write, :value 1, :process 4, :time 206835341}
{:type :ok, :f :write, :value 1, :process 4, :time 304384349}
{:type :invoke, :f :read, :value nil, :process 1, :time 401243005}
{:type :ok, :f :read, :value "1", :process 1, :time 407604377}
{:type :invoke, :f :write, :value 3, :process 2, :time 725188016}
{:type :invoke, :f :write, :value 4, :process 3, :time 727629036}
{:type :ok, :f :write, :value 3, :process 2, :time 732407842}
{:type :ok, :f :write, :value 4, :process 3, :time 733018243}
{:type :invoke, :f :write, :value 2, :process 1, :time 1006226091}
{:type :ok, :f :write, :value 2, :process 1, :time 1013050473}
{:type :invoke, :f :write, :value 1, :process 1, :time 1205459908}
{:type :ok, :f :write, :value 1, :process 1, :time 1211074745}
{:type :invoke, :f :read, :value nil, :process 3, :time 1228339130}
{:type :ok, :f :read, :value "1", :process 3, :time 1231394197}
{:type :invoke, :f :write, :value 0, :process 4, :time 1297105946}
{:type :ok, :f :write, :value 0, :process 4, :time 1302308378}
{:type :invoke, :f :read, :value nil, :process 0, :time 1775952869}
{:type :ok, :f :read, :value "0", :process 0, :time 1779700556}
{:type :invoke, :f :write, :value 0, :process 2, :time 2136928458}
{:type :ok, :f :write, :value 0, :process 2, :time 2142235262}
{:type :invoke, :f :read, :value nil, :process 3, :time 2246828771}
{:type :ok, :f :read, :value "0", :process 3, :time 2250262231}
{:type :invoke, :f :read, :value nil, :process 1, :time 2270538434}
{:type :ok, :f :read, :value "0", :process 1, :time 2273486856}
{:type :invoke, :f :read, :value nil, :process 1, :time 2285913117}
{:type :ok, :f :read, :value "0", :process 1, :time 2288863896}
{:type :invoke, :f :write, :value 0, :process 1, :time 2650371534}
{:type :ok, :f :write, :value 0, :process 1, :time 2655795086}
{:type :invoke, :f :write, :value 2, :process 4, :time 3186815440}
{:type :ok, :f :write, :value 2, :process 4, :time 3192785515}
{:type :invoke, :f :read, :value nil, :process 1, :time 3399222556}
{:type :ok, :f :read, :value "2", :process 1, :time 3403716665}
{:type :invoke, :f :write, :value 0, :process 0, :time 3449167652}
{:type :ok, :f :write, :value 0, :process 0, :time 3454089829}
{:type :invoke, :f :read, :value nil, :process 0, :time 3506482006}
{:type :ok, :f :read, :value "0", :process 0, :time 3509415170}
{:type :invoke, :f :write, :value 3, :process 2, :time 3590698973}
{:type :ok, :f :write, :value 3, :process 2, :time 3594897228}
{:type :invoke, :f :write, :value 1, :process 1, :time 3666147552}
{:type :ok, :f :write, :value 1, :process 1, :time 3672433939}
{:type :invoke, :f :read, :value nil, :process 0, :time 3824892487}
{:type :ok, :f :read, :value "1", :process 0, :time 3827534881}
{:type :invoke, :f :write, :value 1, :process 1, :time 3858002800}
{:type :ok, :f :write, :value 1, :process 1, :time 3862602875}
{:type :invoke, :f :read, :value nil, :process 1, :time 3914081818}
{:type :ok, :f :read, :value "1", :process 1, :time 3916927019}
{:type :invoke, :f :write, :value 1, :process 3, :time 3972730446}
{:type :ok, :f :write, :value 1, :process 3, :time 3977377756}
{:type :invoke, :f :read, :value nil, :process 3, :time 4066795763}
{:type :ok, :f :read, :value "1", :process 3, :time 4069540543}
{:type :invoke, :f :read, :value nil, :process 4, :time 4631263648}
{:type :ok, :f :read, :value "1", :process 4, :time 4634676582}
{:type :invoke, :f :write, :value 2, :process 0, :time 4912983625}
{:type :ok, :f :write, :value 2, :process 0, :time 4918752961}
{:type :invoke, :f :write, :value 0, :process 2, :time 5490344132}
{:type :ok, :f :write, :value 0, :process 2, :time 5495421319}
{:type :invoke, :f :write, :value 2, :process 3, :time 5683988423}
{:type :ok, :f :write, :value 2, :process 3, :time 5697027087}
{:type :invoke, :f :write, :value 3, :process 1, :time 5898350634}
{:type :ok, :f :write, :value 3, :process 1, :time 5903492258}
{:type :invoke, :f :read, :value nil, :process 4, :time 6316242660}
{:type :ok, :f :read, :value "3", :process 4, :time 6319763922}
{:type :invoke, :f :read, :value nil, :process 0, :time 6371256067}
{:type :ok, :f :read, :value "3", :process 0, :time 6374486790}
{:type :invoke, :f :read, :value nil, :process 2, :time 7242956648}
{:type :ok, :f :read, :value "3", :process 2, :time 7245932176}
{:type :invoke, :f :read, :value nil, :process 1, :time 7336956341}
{:type :ok, :f :read, :value "3", :process 1, :time 7340137739}
{:type :invoke, :f :write, :value 3, :process 3, :time 7369500368}
{:type :ok, :f :write, :value 3, :process 3, :time 7374979926}
{:type :invoke, :f :write, :value 3, :process 0, :time 8022071771}
{:type :ok, :f :write, :value 3, :process 0, :time 8027451976}
{:type :invoke, :f :write, :value 3, :process 4, :time 8309308682}
{:type :ok, :f :write, :value 3, :process 4, :time 8314890176}
{:type :invoke, :f :read, :value nil, :process 2, :time 8485348521}
{:type :ok, :f :read, :value "3", :process 2, :time 8488714066}
{:type :invoke, :f :read, :value nil, :process 2, :time 8833140014}
{:type :ok, :f :read, :value "3", :process 2, :time 8836397787}
{:type :invoke, :f :read, :value nil, :process 3, :time 8894479438}
{:type :ok, :f :read, :value "3", :process 3, :time 8897664073}
{:type :invoke, :f :write, :value 2, :process 0, :time 8998993213}
{:type :ok, :f :write, :value 2, :process 0, :time 9004365047}
{:type :invoke, :f :write, :value 3, :process 0, :time 9019868399}
{:type :ok, :f :write, :value 3, :process 0, :time 9024457448}
{:type :invoke, :f :write, :value 3, :process 1, :time 9178668597}
{:type :ok, :f :write, :value 3, :process 1, :time 9184147470}
{:type :invoke, :f :read, :value nil, :process 0, :time 9298978575}
{:type :ok, :f :read, :value "3", :process 0, :time 9302026758}
{:type :invoke, :f :read, :value nil, :process 1, :time 9531653943}
{:type :ok, :f :read, :value "3", :process 1, :time 9534651847}
{:type :invoke, :f :read, :value nil, :process 2, :time 9853818787}
{:type :ok, :f :read, :value "3", :process 2, :time 9856804078}
{:type :invoke, :f :write, :value 2, :process 4, :time 10277416323}
{:type :ok, :f :write, :value 2, :process 4, :time 10285221640}
{:type :invoke, :f :read, :value nil, :process 0, :time 10419448833}
{:type :ok, :f :read, :value "2", :process 0, :time 10423053028}
{:type :invoke, :f :read, :value nil, :process 3, :time 10605189966}
{:type :ok, :f :read, :value "2", :process 3, :time 10608423386}
{:type :invoke, :f :read, :value nil, :process 0, :time 10685567588}
{:type :ok, :f :read, :value "2", :process 0, :time 10688969184}
{:type :invoke, :f :read, :value nil, :process 1, :time 10695130944}
{:type :ok, :f :read, :value "2", :process 1, :time 10697547150}
{:type :invoke, :f :read, :value nil, :process 2, :time 10760318121}
{:type :ok, :f :read, :value "2", :process 2, :time 10763767361}
{:type :invoke, :f :read, :value nil, :process 1, :time 10838033352}
{:type :ok, :f :read, :value "2", :process 1, :time 10841097657}
{:type :invoke, :f :read, :value nil, :process 2, :time 10860162677}
{:type :ok, :f :read, :value "2", :process 2, :time 10862987744}
{:type :invoke, :f :write, :value 1, :process 2, :time 11020447414}
{:type :ok, :f :write, :value 1, :process 2, :time 11026092837}
{:type :invoke, :f :read, :value nil, :process 2, :time 11361646980}
{:type :ok, :f :read, :value "1", :process 2, :time 11364672975}
{:type :invoke, :f :write, :value 4, :process 4, :time 11804864753}
{:type :ok, :f :write, :value 4, :process 4, :time 11810676993}
{:type :invoke, :f :write, :value 0, :process 1, :time 11996524936}
{:type :ok, :f :write, :value 0, :process 1, :time 12002716797}
{:type :invoke, :f :write, :value 1, :process 4, :time 12270192146}
{:type :ok, :f :write, :value 1, :process 4, :time 12275900630}
{:type :invoke, :f :write, :value 3, :process 0, :time 12427115146}
{:type :ok, :f :write, :value 3, :process 0, :time 12432325901}
{:type :invoke, :f :write, :value 2, :process 1, :time 12560355031}
{:type :ok, :f :write, :value 2, :process 1, :time 12566099482}
{:type :invoke, :f :write, :value 3, :process 3, :time 12598892362}
{:type :ok, :f :write, :value 3, :process 3, :time 12604183954}
{:type :invoke, :f :read, :value nil, :process 0, :time 12636772077}
{:type :ok, :f :read, :value "3", :process 0, :time 12639633496}
{:type :invoke, :f :write, :value 1, :process 2, :time 12904113367}
{:type :ok, :f :write, :value 1, :process 2, :time 12909114352}
{:type :invoke, :f :write, :value 0, :process 4, :time 12957321314}
{:type :ok, :f :write, :value 0, :process 4, :time 12962628750}
{:type :invoke, :f :read, :value nil, :process 2, :time 13472599903}
{:type :ok, :f :read, :value "0", :process 2, :time 13475399003}
{:type :invoke, :f :write, :value 3, :process 0, :time 13689010293}
{:type :ok, :f :write, :value 3, :process 0, :time 13694174299}
{:type :invoke, :f :read, :value nil, :process 3, :time 13733553390}
{:type :ok, :f :read, :value "3", :process 3, :time 13736213977}
{:type :invoke, :f :write, :value 1, :process 1, :time 13840608673}
{:type :ok, :f :write, :value 1, :process 1, :time 13845607565}
{:type :invoke, :f :read, :value nil, :process 3, :time 14166652577}
{:type :ok, :f :read, :value "1", :process 3, :time 14169494019}
{:type :invoke, :f :write, :value 1, :process 4, :time 14396054765}
{:type :ok, :f :write, :value 1, :process 4, :time 14401087212}
{:type :invoke, :f :read, :value nil, :process 3, :time 14573962181}
{:type :ok, :f :read, :value "1", :process 3, :time 14576710087}
{:type :invoke, :f :read, :value nil, :process 0, :time 14714599802}
{:type :ok, :f :read, :value "1", :process 0, :time 14717427706}
{:type :invoke, :f :write, :value 2, :process 1, :time 14746007326}
{:type :ok, :f :write, :value 2, :process 1, :time 14750592904}
{:type :invoke, :f :write, :value 0, :process 3, :time 15036095940}
{:type :ok, :f :write, :value 0, :process 3, :time 15041582466}
{:type :invoke, :f :read, :value nil, :process 0, :time 15046756812}
{:type :ok, :f :read, :value "0", :process 0, :time 15048826431}
{:type :invoke, :f :read, :value nil, :process 2, :time 15447764411}
{:type :ok, :f :read, :value "0", :process 2, :time 15450812779}
{:type :invoke, :f :write, :value 3, :process 1, :time 15936975550}
{:type :ok, :f :write, :value 3, :process 1, :time 15942050876}
{:type :invoke, :f :read, :value nil, :process 4, :time 16387472000}
{:type :ok, :f :read, :value "3", :process 4, :time 16390845168}
